.Recorder{
    background-image: url("/record.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
}
.Start{
  background-image: url("/start_recording.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}
.Row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;  
}
.Stop{
  background-image: url("/stop_recording.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
}